# gitignore folder build, build} 
#build/
build/CMakeFiles/
build/CMakeFiles
.vscode/
*.msh
*.gnuplot
*.inp
*.vtu
*.vtk
*.pvtu
*.pvd
*.log
*.h5
build/.cmake
build/.cmake/
build/Makefile
build/compile_commands.json
build/run/**/*.vtu
build/run/**/*.pvd
build/run/**/*.pvtu
build/run/**/*.h5
build/run/**/batch
build/run/**/batch_runs/